.headerWrapper {
  min-height: 278px;
  background: #F8F9FF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h1 {
    color: #0558A5;
    font-size: 40px;
  }
  p {
    padding-top: 0.2rem;
    font-size: 18px;
    color: #333333;
  }
  .helpsearchInput {
    width: 600px;
    margin-top: 1rem;
    height: 4rem;
    text-align: left;
    padding: 2rem;
    padding-left: 3rem;
    border-radius: 100px;
    box-shadow: 0px 9px 22px rgba(71, 71, 71, 0.1);
    color: #333333;
    border: none;
    &:focus {
      outline: none;
    }
  }
}
