@import "./config/colors";
.helpCenterWrapper {
  .mainTopicsWrapper {
    width: 60%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
    margin-bottom: 2rem;
    & > div {
      margin-bottom: 2rem;
      cursor: pointer;
    }
  }
  .popularTopicsWrapper {
    background: $primary-color;
    min-height: 320px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0rem 4rem;
    & .title {
      & p {
        color: $white-color;
        font-weight: 600;
        font-size: 24px;
        border-bottom: 2px solid $yellow-color;
        padding-bottom: 8px;
      }
    }
    & .carouselWrapper {
      width: 80%;
      display: flex;
      justify-content: space-around;
    }
  }
}
