@import "./config/_colors.scss";
.navWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: $box-shadow;
  padding: 0rem 2rem;
  & .brandLogo {
    height: 60%;
    & > img {
      height: 100%;
    }
  }
  ul {
    height: 100%;
    list-style: none;
    display: flex;
    align-items: center;
    @media (max-width: 768px) {
      display: none;
    }
    li {
      height: 100%;
      padding: 0rem 1rem;
      margin-right: 2rem;
      display: flex;
      align-items: center;
      font-size: 18px;
      a {
        pointer-events: none; // not a good way to disable link, but since link doesn't have a disable attr like button and to aviod onclick handler on each link, using this method
        position: relative;
        display: flex;
        align-items: center;
        height: 100%;
        color: $black-color ;
        white-space: nowrap;
        &.active_link {
          cursor: pointer;
          pointer-events: unset;
          font-weight: bold;
          &::after {
            content: "";
            position: absolute;
            width: 100%;
            top: 65%;
            left: 0;
            min-height: 2px;
            background: $yellow-color;
          }
        }
      }
    }
  }
}
