$primary-color: #0558a5;
$secondary-color: #f8f9ff;
$secondary-dark-color: #f2f4f9;
$yellow-color: #ffc107;
$black-color: #333333;
$white-color:#ffffff;
$box-shadow: 0px 9px 22px rgba(71, 71, 71, 0.1);
